@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

//  ******************CUTSOMIZE BOOTSTRAP******************

$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);
$dark: #000;
$info: #6f42c1;
//$light: #f8f2e3;

$font-family-base: 'Nanum Myeongjo', serif;

@import 'bootstrap';

//  ****************** end of CUTSOMIZE BOOTSTRAP******************

.navbar-brand {
  letter-spacing: 10px;
  //text-transform: uppercase;
}

.logo {
  letter-spacing: 0px;
  text-transform: uppercase;
}

.author {
  font-size: 1rem;
  letter-spacing: 5px;
}

#showcase {
  background: url('../img/greece_parthenon01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;

  .primary-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
  }
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#about {
  .card:hover {
    background: $light;
  }

  .fas {
    margin-top: -50px;
  }
}

.portfolio-link:hover {
  text-decoration: none;
}

// SMOOTH SCROLLING HELPER PREVENTING NAV TO OVERLAP WITH HEADERS *********************

#about::before,
#author::before,
#contact::before {
  display: block;
  content: ' ';
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

// MEDIA QUERIES *********************************************************************

@media (max-width: 992px) {
  .info-header {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .info-header {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    letter-spacing: 5px;
    //text-transform: uppercase;
  }
  .logo {
    font-size: 1.5rem;
  }
  #showcase {
    .display-4 {
      font-size: 2.5rem;
    }
    .lead {
      font-size: 1rem;
    }
  }
  .info-header {
    width: 90%;
  }
  #main-footer {
    h3 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 320px) {
  .navbar-brand {
    letter-spacing: 2px;
    font-size: 1rem;
    //text-transform: uppercase;
  }
  .logo {
    font-size: 1rem;
  }

  #main-footer {
    h3 {
      font-size: 1.2rem;
    }
  }
}
